<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div data-controller="address" data-action="google-maps-loaded@window->places#initGoogle">
  <label for="full_address">Address</label>
  <input type="text" id="full_address" data-address-target="full_address" autocomplete="off" style="width: 100ch;">
  <input type="hidden" id="place[latitude]" data-address-target="latitude">
  <input type="hidden" id="place[longitude]" data-address-target="longitude">
  <input type="hidden" id="place[zipcode]" data-address-target="zipcode">
  <input type="hidden" id="place[city]" data-address-target="city">
  <input type="hidden" id="place[state]" data-address-target="state">
  <input type="hidden" id="place[country]" data-address-target="country">
</div>
